<div class="wrapper">
<div class="upper-nav">
<ul>
    <li><a href="#"> Deutsch</a> </li>
    <li><a href="#"> Karriere</a> </li>
    <li><a href="#"> Hilfe</a> </li>
    <li><a href="#"> Abmelden</a> </li>
</ul>
</div>
<div class="logo">
    <h1>Lorem</h1>
</div>
<div class="slogan">
    <h3>Lorem ipsum dolor sit amet</h3>
</div>

<div class="lower-nav">
<ul>
    <li><a href="#"> Stellenangebote</a> </li>
    <li><a href="#"> Meine Karriere</a> </li>
    <li><a href="#"> Über Lorem</a> </li>
</ul>
</div>

</div>